nav ul {
  text-align: right;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: inline-block;
}
nav ul li a:hover {
  background-color: transparent;
  transform: scale(1.2);
  text-decoration: underline;
}
/* banner starts */
#banner {
  position: relative;
  height: 100vh;
}
#banner-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
}
#banner-contents h1 {
  width: 700px;
  font-size: 3.5rem;
}
#banner-contents p {
  width: 500px;
  font-size: 2rem;
}
/* banner ends */

/* footer starts */
footer p {
  text-align: left;
}
.socials {
  text-align: right;
}
/* footer ends */
.col-lg-1 {
  width: 8.33%;
}
.col-lg-2 {
  width: 16.66%;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-4 {
  width: 33.33%;
}
.col-lg-5 {
  width: 41.66%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-7 {
  width: 58.33%;
}
.col-lg-8 {
  width: 66.66%;
}
.col-lg-9 {
  width: 75%;
}
.col-lg-10 {
  width: 83.33%;
}
.col-lg-11 {
  width: 91.66%;
}
.col-lg-12 {
  width: 100%;
}
